/**************************************************
 FOOTER STYLES
**************************************************/

%footer-bg {
  background-color: $footer-bg;
}

footer {
  .wrapper > & {
    @extend %site-padding;
    border-top: 6px solid $footer-border;
    color: $footer-text;
    a {
      color: $footer-link;
      &:hover, 
      &:focus {
        color: $footer-hover;
      }
    }
    h2 {
      @include font-size(21);
      margin: 0 0 .5em;
      text-align: center;
      @include break-up($small){
        text-align: left;
      }
    }
    .contact-info {
      margin-bottom: 3em;
      text-align: center;
      @include break-up($small){
        @include float;
        margin-bottom: 0;
        text-align: left;
      }
      p, address {
        @include font-size(16);
        margin: .5em 0;
      }
    }
    nav {
      margin-bottom: 3em;
      padding: 1.5em 0;
      border: 1px solid $dk-blue;
      border-left: none;
      border-right: none;
      text-align: center;
      @include break-up($small){
        @include float(right);
        padding: 0;
        border: none;
        text-align: right;
      }
      ul {
        list-style: none;
        margin: 0;
        li {
          @include font-size(16);
          margin: .5em 0;
        }
      }
    }
    small {
      display: block;
      padding: 0 .125em;
      text-align: center;
      @include break-up($small){
        @include float(right);
        clear: right;
        text-align: right;
      }
    }
  }
}