/**************************************************
 LAYOUT STYLES
**************************************************/

%site-column {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

%site-padding {
  padding: 4.5em $side-padding;
}