/**************************************************
 HEADER STYLES
**************************************************/

header {
  @extend %clearfix;
  @extend %site-padding;
  background-color: $header-bg;
  border-bottom: 1px solid $border-color;
  @include break-up($medium){
    padding-bottom: 1.5em;
  }
  @include break-up($large){
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 2.1em;
  }
  h1 {
    @include font-size(24);
    margin: 0 0 0 42px;
    @include break-up($medium){
      margin-left: 0;
    }
    @include break-up($large){
      @include float;
    }
  }
  .nav-toggle {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 3.6em;
    left: $side-padding;
    height: 0;
    width: 24px;
    padding-top: 20px;
    margin: 0;
    background-color: $nav-toggle-bg;
    &:before, 
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $body-bg;
    }
    &:before { top: 4px; }
    &:after { bottom: 4px; }
    &:hover, 
    &:focus {
      background-color: $nav-toggle-hover;
    }
    .no-generatedcontent & {
      background: url('../img/graphics/nav-toggle.png') 0 0 no-repeat;
    }
    @include break-up($medium){
      display: none;
    }
  }
}