/**************************************************
 GALLERY SECTION STYLES
**************************************************/

#gallery, 
#videos {
  .main {
    padding-bottom: 3em;
    background-image: none;
    article {
      @include reset-float;
      width: auto;
      margin: 0;
    }
    .text {
      @include break-up($medium){width:66%}
      @include break-up($large){width:74.5%}
    }
  }
}

.gallery,
.videos {
  background-color: $gallery-bg;
  border-top: 6px solid $gallery-border;
}

.thumb-gallery {
  overflow: hidden;
  list-style: none;
  width: 102.5%;
  margin: 0 0 0 -2.5%;
  @include break-up($medium){
    width: 101.75%;
    margin-left: -1.75%;
  }
  @include break-up($medium){
    width: 101.25%;
    margin-left: -1.25%;
  }
  li {
    @include float;
    @include font-size(10);
    width: 47.5%;
    padding: .5em;
    margin: 0 0 2.5% 2.5%;
    background-color: $thumb-gallery-image-bg;
    border: 1px solid $thumb-gallery-border;
    &:nth-child(2n+1){ clear: left }
    @include break-up($medium){
      width: 31.25%;
      margin: 0 0 1.75% 1.75%;
      &:nth-child(2n+1){ clear: none }
      &:nth-child(3n+1){ clear: left }
    }
    @include break-up($large){
      width: 23.75%;
      margin: 0 0 1.25% 1.25%;
      &:nth-child(3n+1){ clear: none }
      &:nth-child(4n+1){ clear: both }
    }
    a {
      display: block;
      background-color: $thumb-gallery-image-hover;
      &:hover {
        img {
          @include opacity(.5);
        }
      }
    }
    img {
      @extend %transition;
      display: block;
    }
  }
}

.videos-gallery {
  overflow: hidden;
  list-style: none;
  margin: 0;
  @include break-up($large){
    width: 102.5%;
    margin-left: -2.5%;
  }
  li {
    margin: 1.5em  0 0;
    padding: .75em;
    background-color: $thumb-gallery-image-bg;
    border: 1px solid $thumb-gallery-border;
    @include font-size(10);
    @include break-up($large){
      @include float;
      width: 47.5%;
      margin: 0 0 2.5% 2.5%;
    }
    h4 {
      margin: 0;
      padding: .5em .75em .25em;
      @include font-size(18);
    }
  }
}