/**************************************************
 PAYMENTS PAGE STYLES
**************************************************/

.payment-form {
  max-width: 42em;
  margin: 4.5em 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  input[type="submit"]{
    margin: 0;
  }
}